<mat-card  [ngClass]="{strike: isDone}">
  <mat-card-title>
    <input type="checkbox" name="done" (change)="onDone($event)" > {{t.desc}}
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <div >{{t.priority}}</div>
      <div >{{t.due}} </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-card-actions >
        <button (click)="editTask()" mat-mini-fab color="primary" ><mat-icon>edit_note</mat-icon></button>
        <button (click)="deleteTask()" mat-mini-fab color="primary" [disabled]="editing"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
