<div class=container>
  <div class="row">
    <h1>ToDo</h1>
    <form [formGroup]="todoForm" (ngSubmit)="addTask()">
      <label for="desc">Description:  </label>
      <input type="text" formControlName="desc" id="desc">
      <br/>
      <br/>
      <label for="priority">Priority: </label>
      <br/>
      <input type="radio" id="low" formControlName="priority" value="low"> Low
      <br/>
      <input type="radio" id="Medium" formControlName="priority" value="medium"> Medium
      <br/>
      <input type="radio" id="High" formControlName="priority" value="high"> High
      <br/>
      <br/>
      <label for="due">Due:  </label>
      <input type="date" formControlName="due" id="due">
      <br/>
      <br/>
      <button type="submit" [disabled]="todoForm.invalid">Save</button>
    </form>
  </div>
  <br/>
  <br/>
  <div class="row tasks" style="border: solid;">
    <h1>{{listofTodo.length>1? "Tasks":"Task"}}</h1>
    <app-task *ngFor="let todo of listofTodo let i=index" [t] ="todo" [ind]="i" (onDelete)="removeTask($event)"></app-task>
  </div>
</div>
